.col1,
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 0 3rem 0 0;
  width: 100%;
}

.move-col1 {
  animation: move-col1 2s linear infinite;
}
.move-col2 {
  animation: move-col2 2s linear infinite;
}

.title {
  font-size: 1.25rem;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  font-size: larger;
}
.weather svg {
  width: 0.75rem;
  margin: 0 0.5rem;
}
.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-icon {
  width: 1.75rem;
  margin: 0 1rem;
}

.card-img {
  width: 90%;
  border-radius: 2rem;
}
.col1 span,
.col2 span {
  width: 8.5rem;
  height: 1px;
  display: block;
  margin: 0.5rem 0.6rem;
  background-color: var(--dark-color);
}

.card-side-content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--darker-color);
  box-shadow: 0 61px 54px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-circle {
  animation: move-circle 2s ease-in-out infinite;
}

.circle img {
  width: 40%;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 110%;
}

.charts span {
  width: 1.5rem;
  background-color: var(--darker-color);
  border-radius: 0.75rem;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0.25rem;
  color: var(--darker-color);
  font-weight: 500;
}

.charts span:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 61px 54px rgba(0, 0, 0, 0.5);
  transition: all 0.3;
}

.charts span p {
  position: absolute;
  bottom: -1.7rem;
  right: -0.08rem;
  font-weight: 400;
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.activities div {
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

@keyframes move-col1 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-col2 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-circle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
