:root {
  --primary-color: #1c8cd1;
  --secondary-color: rgb(219, 238, 254);
  --dark-color: #033a5c;
  --darker-color: #00243a;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p {
  color: var(--darker-color);
  font-family: 'DM Sans', sans-serif;
}

.card,
.card-side {
  width: 60%;
  min-width: 25rem;
  height: 25rem;
  border-radius: 4rem;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card-side {
  padding: 3rem 0;
  background-color: var(--primary-color);
  position: relative;
}

.move-card-side {
  animation: move-card-slide 2s ease-in-out infinite;
}

.card {
  position: absolute;
  background-color: rgb(219, 238, 254);
  top: 0;
  left: 15rem;
  padding: 4rem 8rem;
}

@keyframes move-card-slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15rem);
  }
  100% {
    transform: translateX(0);
  }
}
